/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .dog-profile {
        width: calc((100% - 2.8em)/ 3);
    }
}

/* Apply styles starting from medium devices and up to large devices */
@media (min-width: 768px) and (max-width: 1199px) {
    .dog-profile {
        width: calc((100% - 2.8em)/ 3);
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767px) {
    .dog-profile {
        width: calc((100% - 1.8em)/ 2);
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .dog-profile {
        max-width: 100%;
    }
    footer p {
        font-size: 0.8em;
    }
}

body {
    font: 300 14px 'Lato', sans-serif;
    color: #747704;
    min-width: 100%;
}

hr {
    margin: calc(0.2em + 1vw);
}

h1 {
    font-size: calc(1em + 3vw);
}

h2 {
    font-size: calc(1.6em + 0.6vw);
}

h2.text-muted {
    color: #BCBBBB;
    margin-bottom: 0.5em;
}

h3 {
    font-size: calc(1.4em + 0.3vw);
    color: #747704;
    margin: 0.4em 0 0.6em 0;
}

/* Header */
.img-logo {
    width: calc(2em + 3vw);
    float: left;
}

.text-thin {
    font-weight: 100;
}

.small-text {
    font-size: calc(0.5em + 0.8vw);
}

.nav-tabs > li {
    background-color: #747704;
}

.nav-tabs > li > a {
    font-size: 1.4em;
    color: #BCBBBB;
    border: none;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:hover {
    color: #747704;
    border-radius: 0;
    border: none;
}

/* Section Find your dog */
.dog-profile {
    margin: 0 0.4em 1.2em;
    box-shadow: 1px 1px 6px 3px rgba(46,61,73,0.2);
    border-radius: 0.3em;
    display: inline-block;
}

.dog-profile:hover {
    box-shadow: 0px 0px 1px 0.5px rgba(46,61,73,0.2);
}

.dog-profile:hover > a > h3 {
    color: #BCBBBB;
}

.dog-profile > a {
    text-decoration: none;
}

.dog-profile > a:focus {
    outline: none;
}

.img-profile {
    max-width: 100%;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}

.dog-paragraph {
    margin-top: 0.6em;
}

/* Section Contacts */
.container-contacts {
    padding-top: 1em;
}

.img-logo-contacts {
    width: 6em;
    padding-top: 2em;
}

.social-icon {
    display: inline-block;
    border: 2px solid #396A90;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    margin: 0.2em 0 1em;
}

.img-icon {
    margin: 0.6em;
}

.social-icon:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

/* Footer */
footer {
    background-color: #747704;
    color: #BCBBBB;
    padding: 1.25em 0 0.6em 0;
    margin-top: 1em;
}
